ShapeDatabase_INFOMR-master/
ShapeDatabase_INFOMR-backup/
RefineNeeded/
HeavilySampled/
HeavilySampled - Copy/
RangeSelected/
RangeSelected-copy/
ShapeDatabase_INFOMR-master.rar
shape_descriptors.csv
*.csv
